*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    font-family: "Cardo", serif;
    -webkit-text-stroke-width: 0.7px;
}

p{
    font-family: "Lato", sans-serif;
}

img{
    width: 100%;
}

/* ::-webkit-scrollbar {
    display: none;
  } */

.main{
    width: 100%;
    padding: 0 10%;
    background-color: #eeeeee;
    color: #232323;
}

.firstDiv{
    height: 110vh;
    padding-top: 5%;

}


.firstLeftGraphics{
    width: 44.9%;
    height: 94%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 39%;
}


.navDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navList{
    width: 41%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList>p{
    /* display: inline-block;
    margin-right: 15%;
    font-size: 17px; */
    font-weight: 500;
    color: #515155;
    transition: all 0.2s;
}

.navList>p:hover{

        cursor: pointer;
        transform: scale(1.1);

}

.contactButton{
    /* display: inline; */
    width: fit-content;
    padding: 8px 40px;
    border: 2px solid #232323;
    border-radius: 5px;
    /* font-weight: bolder; */
    font-family: 'Lato';
    font-weight: 1000;
    font-size: .93rem;
}

.contactButton:hover{
    background-color: #232323;
    color: white;
    cursor: pointer;
}

.introDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 62%; */
    margin-top: 8%;
    position: relative;
    z-index: 1;
}

.introTxtDiv{
    width: 39%;
    height: 100%;
}

.introTxtDiv>h1{
    font-family: "Cardo", serif;
    font-size: 4.5rem;
    line-height: 68px;
    -webkit-text-stroke: 1.2px;
    /* letter-spacing: 1px; */
    word-spacing: 0px;
}

.introTxtDiv>p{
    padding: 5% 0;
    width: 94%;
    font-size: 0.84rem;
    font-weight: 400;
    text-align: justify;
}

.reserveButton{
    padding: 11px 54px;
    width: fit-content;
    font-family: 'Lato';
    background-color: #232323;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 23px;
}

.reserveButton:hover{
    cursor: pointer;
    background-color: #303030;
}

.reserveButton:active{
    background-color: #232323;
}

.introImgDiv
{
    width: 56%;
}

.topRightGraphics{
    width: 8%;
    position: absolute;
    bottom: -130px;
    right: 0;
}


.secondDiv{
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #232323;
    color: #e9e7e7;
    padding: 37px 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.secondDivLeft{
    width: 31%;
}

.secondText{
    display: flex;
    flex-direction: column;
    width: 29%;
}

.secondText>h1{
    line-height: 40px;
    margin: auto;
    font-size: 2.4rem;
}

.secondText>p{
    font-size: 12px;
    margin: 21px auto;
    word-spacing: 1px;

}

.travelLogsButt{
    border: 2px solid #e9e7e7;
    width: fit-content;
    margin: auto;
    /* margin: 0 21%; */
    padding: 9px 39px;
    font-weight: 1000;
    font-family: lato;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 7px;
}

.travelLogsButt:hover{
    background-color: #e9e7e7;
    cursor: pointer;
    color: #232323;
}


.secondDivRight{
    display: flex;
    align-items: end;
    width: 35%;
}

.thirdDiv{
    width: 100%;
    margin-top: 284px;
    position: relative;
    /* z-index: 1; */
    background-color: #eeeeee;
    padding: 131px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thirdLeftGraphics{
    position: absolute;
    width: 3.5%;
    left: -12.5%;
    top: 0;
}

.cardDiv{
    width: 305px;
    transition: all .2s;
}

.cardDiv:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.cardImgDiv{
    width: 100%;

}

.cardBar{
    height: 2.5px;
    background-color: #232323;
    border-radius: 11px;
    width: 44px;
    margin: 22px 0;
    margin-bottom: 19px;
}

.cardTxtDiv{
    width: 100%;
}

.cardTxtDiv>h1{
    width: 79%;
    font-weight: bolder;
    line-height: 31px;
}

.cardTxtDiv>p{
    font-size: 11px;
    word-spacing: 2px;
    text-align: justify;
    width: 100%;
    margin-top: 16px;
}

.thirdRightGraphics{
    position: absolute;
    width: 6%;
    bottom: -37px;
    right: -12.4%;
}


.fourthDiv{
    width: 100%;
    padding: 101px 0;
    padding-top: 180px;
    position: relative;
}

.fourthDivRightGraph{
    position: absolute;
    width: 21%;
    top: 0;
    right: -12.5%;
}

.planeDiv{
    width: 5%;
    margin: auto;
}

.fourthDiv>h1{
    font-size: 70px;
    font-weight: 1000;
    width: 64%;
    margin: auto;
    text-align: center;
    line-height: 68px;
    margin: 30px auto;
}

.fourthDiv>h1>span{
    text-decoration: underline;
    text-underline-offset: 15px;
    font-style: italic;
    text-decoration-thickness: 4px;
}

.fourthDiv>p{
    font-size: 15px;
    font-weight: 1000;
    width: fit-content;
    margin: auto;
}


.fourthDivGraphics{
    width: 35%;
}

.fifthDiv{
    width: 100%;
    /* height: 100vh; */
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
}

.fifthDivLeftImg{
    width: 37%;
    position: relative;
}

.tape{
    position: absolute;
    width: 12%;
    top: 34%;
    left: -15px;
}

.fifthDivRight{
    width: 59%;
}

.fifthDivRightImg{
    width: 48%;
}

.fifthDivText{
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
}

.fifthDivText>h1{
    width: 30%;
    font-size: 23px;
    font-weight: 700;
    text-decoration: underline;
    /* -webkit-text-stroke: medium; */
    /* -webkit-text-stroke-color: red; */
    text-decoration-line: 2px;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.fifthDivTextRight{
    width: 56%;
    margin-right: 10%;
}

.fifthDivSideDesc{
    font-size: 14px;
}
.fifthDivSideDesc>p{
    margin-bottom: 20px;
    text-align: justify;
}

.arrowDiv{
    width: fit-content;
    margin-left: auto;
    margin-top: 50px;
}

.arrowDiv:hover{
    cursor: pointer;
}

.arrowline{
    width: 96px;
    height: 2px;
    background-color: black;
}

.arrowlineTop{
    width: 26px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    transform: rotate(45deg) translate(-6px, -10px);
}

.arrowlineDown{
    width: 26px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    transform: rotate(138deg) translate(2px, -5px);
}

.sixthDiv{
    position: absolute;
    background-color: #232323;
    /* height: 100vh; */
    padding: 8% 10%;
    left: 0;
    overflow: hidden;
    display: flex;
}


.sixthTextDiv{
    width: 41%;
    color: white;
}

.sixthTextDiv>h1{
    font-size: 44px;
    line-height: 41px;
    margin-bottom: 112px;;

}

.sixthDesc{
    margin-top: 70px;
}

.sixthDesc>h1{
    font-size: 20px;
    font-family: 'Lato';
    margin-bottom: 10px
}

.sixthDesc>p{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

.sixthImgDiv{
    width: 53%;
    position: absolute;
    right: -25px;
}

.sixthGraphics{
    position: absolute;
    width: 32%;
    /* height: 20%; */
    left: 0;
    bottom: -32px;
}

.seventhDiv{
    padding: 150px 0px;
    margin-top: 704px;
    display: flex;
    justify-content: space-between;
}

.seventhTextDiv{
    width: 58%;
}

.seventhTextDiv>h1{
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 123px;
    word-spacing: 6px;
    letter-spacing: 1px;
}

.dropBox{
    padding: 17px 20px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropBox:hover{
    cursor: pointer;
}

.dropBox>p{
    font-size: 12px;

}



.vert{
    width: 2px;
    height: 15px;
    background-color: black;
    margin: auto;
}

.horiz{
    width: 15px;
    height: 2px;
    transform: translateY(-8.8px);
    background-color: black;
}

.seventhImgDiv{
    width: 34.6%;
}

.eighthDiv{
    padding: 81px 0px;
    position: relative;
}

.eighthDiv>h1{
    margin: auto;
    text-align: center;
    width: 413px;
    line-height: 55px;
    font-size: 51px;
    margin-bottom: 63px;
}

.customerCardBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.customerCard{
    position: relative;
    padding: 36px 30px;
    width: 32%;
    border: 2px solid black;
    border-radius: 7px;
    transition: all 0.2s;
}

.customerCard:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.eightharrowDivFirst{
    position: absolute;
    border: 2px solid black;
    padding: 24px 15px;
    border-radius: 7px;
    background-color: #eeeeee;
    transform: rotate(180deg);
    left: -31px;
    bottom: 41%;
    width: fit-content;
    margin: auto;
    height: 0px;
}

.eightharrowline{
    width: 24px;
    height: 2px;
    background-color: black;

}

.eightharrowlineTop{
    width: 13px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    transform: rotate(45deg) translate(-4px, -6px);
}

.eightharrowlineDown{
    width: 13px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    transform: rotate(138deg) translate(-1px, -1px);
}

.customerImgDiv{
    width: 46%;
    margin: 29px auto;
}

.customerCardText>h1{
    margin: auto;
    font-size: 20px;
    width: fit-content;
    font-family: lato;
    margin-bottom: 10px;
}

.customerCardText>P{
    text-align: center;
    font-size: 11px;
    word-spacing: 5px;
    margin-bottom: 15px;
}

.eightharrowDivLast{
    position: absolute;
    border: 2px solid black;
    padding: 24px 15px;
    border-radius: 7px;
    background-color: #eeeeee;
    right: -31px;
    bottom: 41%;
    width: fit-content;
    margin: auto;
    height: 0px;
}

.eighthGraphTop{
    position: absolute;
    left: -13%;
    top: 0;
}

.eighthGraphBott{
    position: absolute;
    right: -12.5%;
}

.ninthDiv{
    padding: 12% 0;
    display: flex;
    justify-content: space-between;
}

.ninthTextDiv{
    width: 38%;
}

.ninthTextDiv>h1{
    font-size: 68px;
    margin-bottom: 41px;
    line-height: 1;
}

input{
    padding: 13px 15px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    width: 100%;
    font-size: 12px;
    background-color: transparent;
    /* color: black; */
    margin-bottom: 17px;
}

textarea{
    width: 100%;
    height: 217px;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 13px 15px;
    background-color: transparent;
}


input::placeholder, textarea::placeholder{
    color: black;
}

button{
    padding: 13px;
    width: 100%;
    border: none;
    background-color: #232323;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 59px;
    transition: all 0.2s;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

button:active{
    transform: scale(0.9);
}

.ninthImageDiv{
    float: right;
    width: 55%;
}

.footer{
    padding: 6% 10%;
    background-color: #c4c4c4;
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.footerHead{
    width: 20%;
}

.footerHead>h1{
    font-size: 34px;
    line-height: 34px;
}

.footerRight{
    width: 75%;
}

.footerRight>h1{
    font-size: 14px;
    font-family: lato;
    margin-bottom: 24px;

}

.footerLinkDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerlinks{
    width: fit-content;
}

.footerlinks>p{
    font-size: 12px;
    margin-bottom: 14px;
}

.footerlinks>p:hover{
    cursor: pointer;
    color:#000000

}

.bottText{
    font-size: 12px;
    margin-top: 54px;
    margin-left: 7%;
}

.footerGraphics{
    width: 22%;
    position: absolute;
    left: 0;
    bottom: 20px;
}




@media (max-width: 428px){

    .firstDiv{
        height: fit-content;
        padding-top: 12%;
    }

    .navDiv{
        flex-direction: column;
    }

    .navList{
        width: 100%;
    }

    .contactButton{
        font-size: 11px;
        padding: 5px 20px;
        border: 1.5px solid black;
        margin-top: 16px;
    }

    .introDiv{
        flex-direction: column-reverse;
        margin-top: 38px;
    }

    .introImgDiv{
        width: 100%;
    }

    .introTxtDiv{
        padding: 36px 0;
        width: 100%;
        text-align: center;
    }

    .introTxtDiv>h1{
        font-size: 2rem;
    line-height: 34px;
    }

    .introTxtDiv>p{
        text-align: center;
    }

    .reserveButton{
        margin: auto;
    padding: 9px 39px;
    font-size: .9rem;
    }

    .secondDiv{
        flex-direction: column;
    }

    .secondDivLeft{
        width: 39%;
    }

    .secondText{
        width: 100%;
        padding: 4% 10%;
    }

    .secondText>h1{
        font-size: 2rem;
    }

    .secondText>p{
        margin: 17px 0px;
    }

    .secondDivRight{
        width: 100%;
        justify-content: end;
    }

    .secondDivRight>img{
        width: 42%;
    }

    .thirdDiv{
        margin-top: 406px;
        flex-direction: column;
        text-align: center;
    }

    .thirdLeftGraphics{
        width: 10%;
    }

    .cardDiv{
        margin-bottom: 42px;
    }

    .cardTxtDiv>h1{
        width: 100%;
    }

    .cardTxtDiv>p{
        text-align: center;
    }

    .thirdRightGraphics{
        bottom: 0;
        width: 10%;
    }

    .fourthDiv{
        padding: 49px 0;
    }

    .planeDiv{
        width: 20%;
    }

    .fourthDiv>h1{
        width: 100%;
        font-size: 45px;
        line-height: 54px;
        margin-bottom: 20px;
    }

    .fourthDiv>h1>span{
        text-underline-offset: 6px;
    }

    .fourthDiv>p{
        font-size: 12px;
    margin-bottom: 15px;
    }

    .fifthDiv{
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .fifthDivLeftImg{
        width: 70%;
    }

    .fifthDivRight{
        width: 100%;
    margin: 20px 0;
    }

    .fifthDivRightImg{
        margin: auto;
    }

    .fifthDivLeftImg{
        margin: auto;
    }

    .fifthDivText{
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
    }

    .fifthDivText>h1{
        width: 100%;
    text-align: center;
    font-size: 18px;
    }

    .fifthDivTextRight{
        width: 100%;
        margin: 23px 0;
    }

    .fifthDivSideDesc{
        font-size: 11px;
    }

    .sixthDiv{
        flex-direction: column-reverse;
    }

    .sixthTextDiv{
        width: 100%;
    margin: 25px 0;
    margin-bottom: 43px;
    }

    .sixthTextDiv>h1{
        font-size: 30px;
    margin-bottom: 10px;
    }

    .sixthDesc{
        margin-top: 52px;
    }

    .sixthDesc>h1{
        font-size: 17px;
    }

    .sixthDesc>p{
        font-size: 12px;
    }

    .sixthImgDiv{
        width: 100%;
        position: static;
    }

    .sixthGraphics{
        width: 40%;
        bottom: 11px;
    }

    .seventhTextDiv>h1{
        font-size: 33px;
    line-height: 41px;
    word-spacing: 0px;
    margin-bottom: 37px;
    }

    .dropBox{
        width: 173%;
        padding: 12px 20px;

    }

    .eighthGraphTop{
        width: 42%;
    }

    .eighthDiv>h1{
        font-size: 33px;
        line-height: 33px;
        margin-top: 17px;
        width: 100%;
    }

    .customerCardBox{
        flex-direction: column;
    }

    .customerCard{
        width: 100%;
        margin-bottom: 20px;
        padding: 20px 30px;
    }

    .eightharrowDivFirst{
        top: -26px;
    left: 41%;
    bottom: 0;
    margin: 0;
    transform: rotate(-90deg);
    }

    .eightharrowDivLast{
        margin: 0;
        bottom: -26px;
        transform: rotate(90deg);
        left: 42%;
    }

    .eighthGraphBott{
        width: 82%;
    }

    .ninthTextDiv>h1{
        font-size: 35px;
        text-align: center;
        height: 200px;
        display: flex;
        align-items: center;
    }

    input{
        width: 265%;
    }

    textarea{
        width: 265%;
    }

    .footer{
        flex-direction: column;
    }

    .footerHead{
        width: 100%;
    }

    .footerHead>h1{
        font-size: 27px;
    }

    .footerRight{
        width: 100%;
        margin: 34px 0px;
    }

    .footerlinks{
        text-align: center;
        margin-right: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerlinks>p{
        margin-bottom: 8px;
    }

    .bottText{
        text-align: center;
        margin: 31px 0;
        margin-bottom: 5px;
    }

}